.row {
    margin-right: auto;
    margin-left: auto;
}

.heading-meta {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    font-weight: 400;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #101010;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

p {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 0 20px;
    color: #777;
    font-weight: 400;
}

b, strong {
    color: #101010
}

.submit {
    text-shadow: none;
    padding: 10px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border: none;
    color: #ccc;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #1b1b1b;
    margin-top: 0px;
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.75;
}

.submit:hover {
    color: #fff;
    cursor: pointer;
}